In [1]:
import numpy as np
import pandas as pd
import matplotlib
import json
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
%matplotlib inline

In [5]:
df_appliances = pd.read_csv('credit_card/appliances.csv',index_col="month")
df_department = pd.read_csv('credit_card/departmentstore.csv',index_col="month")
df_drug = pd.read_csv('credit_card/drug.csv',index_col="month")
df_fashion = pd.read_csv('credit_card/fashion.csv',index_col="month")
df_flower = pd.read_csv('credit_card/flowershop.csv',index_col="month")
df_food = pd.read_csv('credit_card/food.csv',index_col="month")
df_home = pd.read_csv('credit_card/home_goods.csv',index_col="month")
df_luxury = pd.read_csv('credit_card/luxury.csv',index_col="month")
df_reuse = pd.read_csv('credit_card/reuse.csv',index_col="month")
df_sport = pd.read_csv('credit_card/sport.csv',index_col="month")
df_super = pd.read_csv('credit_card/supermarket.csv',index_col="month")

ValueError: Index month invalid

In [3]:
df_appliances.head()

,month,アメリカ合衆国,オーストラリア,台湾,中華人民共和国,タイ,香港,大韓民国,シンガポール
0,12-Aug,49171922,26340071,94590771,156240871,60798441,66252524,83092041,27492894
1,12-Sep,55425553,36140241,97834288,84001724,88439712,75978641,87631229,29091741
2,12-Oct,56629758,40049371,103367812,69291641,157488912,78040706,93480094,53054012
3,12-Nov,47490087,41192971,163181941,59520106,116607376,82751224,121145265,63097565
4,12-Dec,63525540,58901488,155653129,92870059,177378524,120890276,122495218,99181071

In [4]:
df_appliances['台湾'].values

array([  94590771,   97834288,  103367812,  163181941,  155653129,
        190887224,  295630618,  367051488,  508157906,  573145682,
        495434847,  402260500,  298226471,  390051118,  325691547,
        533125241,  897358412,  794930553,  621988273,  641420173,
        619585040,  534832173,  531404300,  594699233,  501712940,
        554407933,  997238873, 1466322947, 1547160717, 1471211833,
       1785200453, 1768208120, 2465563487, 2375592347, 3339225227,
       3240584260, 2955352420, 2436377055, 2821861700, 2740272370,
       2568158907, 2508766838, 2409342010, 1590571234])

In [5]:
length = len(df_appliances['台湾'].values)

In [6]:
# 1月あたり旅行者
tourlist_dic={}
for year in range(2012,2017):
    with open("tourists_number/FY%d"%year,"r",encoding="utf-8") as f:
        dic = json.load(f)
    for countryData in dic["result"]["changes"]:
        country = countryData["countryName"]
        for i in range(len(countryData["data"])):
            num_qt = countryData["data"][i]
            if num_qt["year"] == year:
                if year == 2012:
                    if num_qt["quarter"] > 2:
                        if num_qt["quarter"] == 3:
                            iteration = 2
                        elif num_qt["quarter"] == 4:
                            iteration = 3
                        num_m = num_qt["value"]/3
                        for i in range(iteration):
                            try:
                                tourlist_dic[country].append(num_m)
                            except:
                                tourlist_dic[country] = [num_m]
                elif year == 2016:
                    if num_qt["quarter"] == 1:
                        num_m = num_qt["value"]/3
                        for i in range(3):
                            try:
                                tourlist_dic[country].append(num_m)
                            except:
                                tourlist_dic[country] = [num_m]
                else:
                    num_m = num_qt["value"]/3
                    for i in range(3):
                        try:
                            tourlist_dic[country].append(num_m)
                        except:
                            tourlist_dic[country] = [num_m]
for k,v in tourlist_dic.items():
    tourlist_dic[k] = np.array(v)

In [7]:
tourlist_dic['台湾']

array([  60282.        ,   60282.        ,   47251.        ,
         47251.        ,   47251.        ,   50771.66666667,
         50771.66666667,   50771.66666667,   75715.33333333,
         75715.33333333,   75715.33333333,   85122.66666667,
         85122.66666667,   85122.66666667,   64330.        ,
         64330.        ,   64330.        ,   79218.66666667,
         79218.66666667,   79218.66666667,  100437.66666667,
        100437.66666667,  100437.66666667,  100593.66666667,
        100593.66666667,  100593.66666667,   87058.33333333,
         87058.33333333,   87058.33333333,  102430.        ,
        102430.        ,  102430.        ,  124405.33333333,
        124405.33333333,  124405.33333333,  118414.33333333,
        118414.33333333,  118414.33333333,  100467.66666667,
        100467.66666667,  100467.66666667,  121293.        ,
        121293.        ,  121293.        ])

In [8]:
# 国籍をつぶす場合
c_list = ['アメリカ合衆国', 'オーストラリア', '中華人民共和国', '台湾', '大韓民国', '香港', 'タイ', 'シンガポール']
appliances_sum = np.zeros(length)
tourlist_sum = np.zeros(length)
for c in c_list:
    appliances_sum += df_appliances[c].values
    tourlist_sum += tourlist_dic[c]

In [9]:
appliances_sum

array([  5.63979535e+08,   5.54543129e+08,   6.51402306e+08,
         6.94986535e+08,   8.90895305e+08,   9.05163197e+08,
         1.13848683e+09,   1.52224248e+09,   1.99802632e+09,
         1.88549215e+09,   1.59372622e+09,   1.62010248e+09,
         1.30164385e+09,   1.38817901e+09,   1.47591447e+09,
         1.72749464e+09,   2.23829160e+09,   2.22276024e+09,
         1.95632987e+09,   2.31276091e+09,   2.67365282e+09,
         2.09661896e+09,   1.85742532e+09,   2.39739505e+09,
         2.08351000e+09,   2.44367221e+09,   3.69483550e+09,
         4.66420544e+09,   5.22091481e+09,   4.74479193e+09,
         6.45151465e+09,   6.95242782e+09,   9.23295603e+09,
         7.04673065e+09,   7.54826371e+09,   9.07512082e+09,
         8.39353595e+09,   5.69655496e+09,   7.56515770e+09,
         7.00856920e+09,   6.61320618e+09,   6.00522637e+09,
         5.71504977e+09,   1.71154261e+10])

In [10]:
rel = pd.DataFrame()

In [11]:
c_list = ['アメリカ合衆国', 'オーストラリア', '中華人民共和国', '台湾', '大韓民国', '香港', 'タイ', 'シンガポール']
for i in c_list:
    rel[i] = tourlist_dic[i]

In [12]:
rel.head()

,アメリカ合衆国,オーストラリア,中華人民共和国,台湾,大韓民国,香港,タイ,シンガポール
0,32372.666667,11410.666667,108908.333333,60282.0,64795.333333,22080.666667,7572.666667,5277.666667
1,32372.666667,11410.666667,108908.333333,60282.0,64795.333333,22080.666667,7572.666667,5277.666667
2,39051.000000,14546.666667,25528.666667,47251.0,60948.333333,21171.000000,15862.000000,11886.333333
3,39051.000000,14546.666667,25528.666667,47251.0,60948.333333,21171.000000,15862.000000,11886.333333
4,39051.000000,14546.666667,25528.666667,47251.0,60948.333333,21171.000000,15862.000000,11886.333333

In [14]:
X = df_appliances

In [23]:
X = df_department

In [24]:
X

,Unnamed: 0,アメリカ合衆国,オーストラリア,中華人民共和国,大韓民国,台湾,香港,タイ,シンガポール
0,Aug-12,450977581,171900635,967068187,907359112,1024873519,785449686,665674228,313876677
1,Sep-12,482890702,232713382,629385071,1003537082,972290417,721586084,732925900,339416355
2,Oct-12,573490536,246991846,619997765,1200882541,1047116686,911434209,1219434142,410577940
3,Nov-12,554981840,216140159,595937535,1213589600,1205606620,972991674,826646261,589694787
4,Dec-12,688458547,333476482,760322171,1292732394,1259938330,1123123556,1344977827,885657320
5,Jan-13,514980398,485726412,788040218,1343493624,1704140835,1164431022,1102980976,552005718
6,Feb-13,454769182,330077318,871779671,1379678053,1751479835,1424471218,1426778865,534202459
7,Mar-13,668492087,305572288,832552365,1664154641,1648695500,1426882747,1696764341,727352159
8,Apr-13,719445698,467939282,1159542788,1644560341,2218255365,1761471359,3441994653,1032029171
9,May-13,775546351,283257435,1082415065,1666052629,1997594153,1713795188,2440638853,978007394
10,Jun-13,834933698,277716776,1143442465,1509650835,2184705282,1621851824,1228674212,850029629
11,Jul-13,766834771,262352041,1374659759,1602405782,2353561694,2000274265,1915242765,659541718
12,Aug-13,647656673,176092429,1541778471,1334243053,1612439724,1445206800,1414002671,674839482
13,Sep-13,671364584,264555100,1215693224,1324484059,2049186453,1410831765,1433659847,558144182
14,Oct-13,810305656,355465100,1432849147,1474986159,2027719624,1449985188,2473306259,850387941
15,Nov-13,828236567,296077318,1383170759,1572965194,1926779418,1456041076,2038131424,878243129
16,Dec-13,977574436,392608400,1619703371,1549644018,2215754941,1937322329,2559936165,1502511259
17,Jan-14,773658865,600170700,1912216420,2052245920,3022793333,2167532053,1932103887,983289287
18,Feb-14,611691063,389809427,1939247247,1789225407,2483275793,1780360940,1858156087,849075960
19,Mar-14,818311880,332925433,1882347000,1936541633,2716171340,1613759207,2607859633,1091332840
20,Apr-14,968097550,563597153,2232384467,2044706013,2018307640,2026436393,4351040093,1350658153
21,May-14,940286935,400365753,1988607393,2016747920,2627815153,1514464587,2806185460,1108160187
22,Jun-14,928696099,328737279,1885298107,1990563133,2881151687,1601344667,1723337960,1202730300
23,Jul-14,909644640,415004293,2621303393,2136675360,3207839156,2046251446,2082831280,1057682540
24,Aug-14,801513835,235746667,2837996623,2043044173,2483680208,1632732744,1592454373,866148230
25,Sep-14,855824198,423919480,2243793580,2256028433,2886026431,1704197559,1519545598,1063983767
26,Oct-14,1019457160,571747580,3430838698,2616709220,3541541622,1933178626,3289065513,1376676715
27,Nov-14,1130835237,548027675,3068037270,2492556499,4037034049,2552799502,3090520251,1443040073
28,Dec-14,1393575386,659808952,4165923158,2609333313,4294293958,4143335817,4371157316,3127200729
29,Jan-15,1110519229,914359309,3737538514,2768417044,5236274793,4152758477,3560196567,1405847520
30,Feb-15,886904905,494185540,5794085300,2639235290,4803858745,3349227793,2337851361,1507621656
31,Mar-15,1242486544,493957300,4944613993,2629052742,4368430151,3319028953,3924468616,1773693344
32,Apr-15,1535688409,702634982,6596967197,2968741054,5288076761,3875630851,5300285403,2270848354
33,May-15,1451298322,562895687,5569231658,3023408231,4670949659,3302219001,3655009552,1697386563
34,Jun-15,1450105641,453683330,5580559010,2456823398,5572915467,3220525830,2217175755,2012123200
35,Jul-15,1443731709,532113524,6744096936,2887075411,5723270821,4100882168,2419185059,1563322701
36,Aug-15,1259495388,381538896,6789233293,2759334155,4390684675,3344224053,1933244204,1229445503
37,Sep-15,1193989485,505815232,4763046264,2686867359,4300186069,2953937203,1682885384,1196086036
38,Oct-15,1495694854,635005993,6037555197,3130700314,4776728943,3504759853,3652190717,1616557293
39,Nov-15,1547817280,615434931,5062259016,3058058194,4561565306,3638451477,3064240141,2312869338
40,Dec-15,1783621089,902530980,5958509488,2829792036,4726980141,4397275983,4082336451,3469021208
41,Jan-16,1470424391,997060424,6058937151,3005470455,5494167205,3719690061,3304581806,1653798097
42,Feb-16,1130719335,630315550,6324951683,2792408647,4740791725,2914154262,2787557309,1464719813
43,Mar-16,1412301333,606877044,4910830905,2584882942,3571169520,2604360829,3236340449,1736062673

In [25]:
X = X/rel

In [26]:
X.head()

,Unnamed: 0,アメリカ合衆国,オーストラリア,シンガポール,タイ,中華人民共和国,台湾,大韓民国,香港
0,NaN,13930.813474,15064.907251,59472.622434,87904.863280,8879.652800,17001.319117,14003.463912,35571.828417
1,NaN,14916.617990,20394.372108,64311.821196,96785.707369,5779.035008,16129.033824,15487.798741,32679.542466
2,NaN,14685.681186,16979.274473,34542.018004,76877.704073,24286.335557,22160.730694,19703.287610,43051.070285
3,NaN,14211.719034,14858.397731,49611.160184,52114.882171,23343.856645,25514.944022,19911.776641,45958.701715
4,NaN,17629.728995,22924.597754,74510.557223,84792.449061,29783.074100,26664.797147,21210.299336,53050.094752

In [20]:
X = X.set_index("month")

In [27]:
X = X.set_index("Unnamed: 0")

In [28]:
pca = PCA(n_components=2)
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [29]:
pca.components_[0]

array([ 0.06762001,  0.07708023,  0.76191088,  0.39984508,  0.01564599,
        0.1363264 ,  0.07957638,  0.4732228 ])