In [1]:
import numpy as np
import pandas as pd
import matplotlib
import json
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
%matplotlib inline

In [2]:
# 1月あたり旅行者
tourlist_dic={}
for year in range(2012,2017):
    with open("tourists_number/FY%d"%year,"r",encoding="utf-8") as f:
        dic = json.load(f)
    for countryData in dic["result"]["changes"]:
        country = countryData["countryName"]
        for i in range(len(countryData["data"])):
            num_qt = countryData["data"][i]
            if num_qt["year"] == year:
                if year == 2012:
                    if num_qt["quarter"] > 2:
                        if num_qt["quarter"] == 3:
                            iteration = 2
                        elif num_qt["quarter"] == 4:
                            iteration = 3
                        num_m = num_qt["value"]/3
                        for i in range(iteration):
                            try:
                                tourlist_dic[country].append(num_m)
                            except:
                                tourlist_dic[country] = [num_m]
                elif year == 2016:
                    if num_qt["quarter"] == 1:
                        num_m = num_qt["value"]/3
                        for i in range(3):
                            try:
                                tourlist_dic[country].append(num_m)
                            except:
                                tourlist_dic[country] = [num_m]
                else:
                    num_m = num_qt["value"]/3
                    for i in range(3):
                        try:
                            tourlist_dic[country].append(num_m)
                        except:
                            tourlist_dic[country] = [num_m]
for k,v in tourlist_dic.items():
    tourlist_dic[k] = np.array(v)

tourlist_num = pd.DataFrame()
c_list = ['アメリカ合衆国', 'オーストラリア', '中華人民共和国', '台湾', '大韓民国', '香港', 'タイ', 'シンガポール']
for i in c_list:
    tourlist_num[i] = tourlist_dic[i]

In [3]:
tourlist_num.head()

,アメリカ合衆国,オーストラリア,中華人民共和国,台湾,大韓民国,香港,タイ,シンガポール
0,32372.666667,11410.666667,108908.333333,60282.0,64795.333333,22080.666667,7572.666667,5277.666667
1,32372.666667,11410.666667,108908.333333,60282.0,64795.333333,22080.666667,7572.666667,5277.666667
2,39051.000000,14546.666667,25528.666667,47251.0,60948.333333,21171.000000,15862.000000,11886.333333
3,39051.000000,14546.666667,25528.666667,47251.0,60948.333333,21171.000000,15862.000000,11886.333333
4,39051.000000,14546.666667,25528.666667,47251.0,60948.333333,21171.000000,15862.000000,11886.333333

In [4]:
df_appliances = pd.read_csv('credit_card/appliances.csv',index_col="month")
df_department = pd.read_csv('credit_card/departmentstore.csv',index_col="month")
df_drug = pd.read_csv('credit_card/drug.csv',index_col="month")
del df_drug["インドネシア"]
df_fashion = pd.read_csv('credit_card/fashion.csv',index_col="month")
del df_fashion["インドネシア"]
df_flower = pd.read_csv('credit_card/flowershop.csv',index_col="month")
df_food = pd.read_csv('credit_card/food.csv',index_col="month")
del df_food["インドネシア"]
df_home = pd.read_csv('credit_card/home_goods.csv',index_col="month")
df_luxury = pd.read_csv('credit_card/luxury.csv',index_col="month")
del df_luxury["インドネシア"]
df_reuse = pd.read_csv('credit_card/reuse.csv',index_col="month")
del df_reuse["インドネシア"]
df_sport = pd.read_csv('credit_card/sport.csv',index_col="month")
del df_sport["インドネシア"]
df_super = pd.read_csv('credit_card/supermarket.csv',index_col="month")

df_appliances = df_appliances[c_list]
df_department = df_department[c_list]
df_drug = df_drug[c_list]
df_fashion = df_fashion[c_list]
df_flower = df_flower[c_list]
df_food = df_food[c_list]
df_home = df_home[c_list]
df_luxury = df_luxury[c_list]
df_reuse = df_reuse[c_list]
df_sport = df_sport[c_list]
df_super = df_super[c_list]

In [5]:
tourlist_num = tourlist_num.set_index(df_appliances.index)

In [6]:
tourlist_num.head()

,アメリカ合衆国,オーストラリア,中華人民共和国,台湾,大韓民国,香港,タイ,シンガポール
month,,,,,,,,
Aug-12,32372.666667,11410.666667,108908.333333,60282.0,64795.333333,22080.666667,7572.666667,5277.666667
Sep-12,32372.666667,11410.666667,108908.333333,60282.0,64795.333333,22080.666667,7572.666667,5277.666667
Oct-12,39051.000000,14546.666667,25528.666667,47251.0,60948.333333,21171.000000,15862.000000,11886.333333
Nov-12,39051.000000,14546.666667,25528.666667,47251.0,60948.333333,21171.000000,15862.000000,11886.333333
Dec-12,39051.000000,14546.666667,25528.666667,47251.0,60948.333333,21171.000000,15862.000000,11886.333333

In [7]:
df_flower = df_flower.fillna(method="ffill") #前の値で埋める

In [8]:
df_appliances = df_appliances / tourlist_num
df_department = df_department / tourlist_num
df_drug = df_drug / tourlist_num
df_fashion = df_fashion / tourlist_num
df_flower = df_flower / tourlist_num
df_food = df_food / tourlist_num
df_home = df_home / tourlist_num
df_luxury = df_luxury / tourlist_num
df_reuse = df_reuse / tourlist_num
df_sport = df_sport / tourlist_num
df_super = df_super / tourlist_num

In [9]:
all_data = pd.concat([df_appliances, df_department, df_drug, df_fashion, df_flower, df_food, df_home,\
          df_luxury, df_reuse, df_sport, df_super],axis=1,keys=["appliances","department","drug",\
                                                               "fashion","flower","food","home","luxury",\
                                                               "reuse","sport","super"])

In [10]:
data_arranged = all_data.stack(0).unstack()
data_arranged.head()

            アメリカ合衆国                                                     \
         appliances    department        drug      fashion      flower
month
Aug-12  1518.933318  13930.813474  407.016207  4295.319982   79.473712
Sep-12  1712.109588  14916.617990  366.589386  4534.475782  108.665345
Oct-12  1450.148729  14685.681186  365.766715  4761.000282   68.380554
Nov-12  1216.104248  14211.719034  325.950680  5026.259686   55.352052
Dec-12  1626.732734  17629.728995  422.804589  5624.919208   75.012266

                                                                     \
               food        home       luxury      reuse       sport
month
Aug-12  1419.688204  176.851943   787.999403   0.504531  655.454406
Sep-12  1422.109104  329.217457  1044.950802   2.576186  554.374812
Oct-12  1145.899004  277.377788   121.926148   1.177102  554.901949
Nov-12  1189.701390  387.038949   902.525697  11.343576  494.744129
Dec-12  1323.719418  294.129549  1278.789045   1.378249  660.750352

           ...                 香港                                        \
           ...         department         drug       fashion     flower
month      ...
Aug-12     ...       35571.828417  1633.797636  16051.261964  37.065412
Sep-12     ...       32679.542466  1297.042043  18810.390341  22.982821
Oct-12     ...       43051.070285  1544.096689  24743.847149  34.275235
Nov-12     ...       45958.701715  1438.407964  26766.026215  47.000472
Dec-12     ...       53050.094752  1715.734920  30403.749563  25.699684

                                                                      \
               food        home       luxury      reuse        sport
month
Aug-12   717.664020  242.470849  4679.816355   2.014024  1306.508152
Sep-12   619.081353  164.547749  6032.459572   1.454576  1579.086743
Oct-12   852.268244   92.925133  2615.739077   0.000000  1400.200605
Nov-12  1319.261065   67.171792  3902.994379   7.112938  1775.787634
Dec-12  1474.815739  233.524774  5007.724482  15.954135  2179.953143


              super
month
Aug-12  1318.656925
Sep-12  1388.714728
Oct-12  1348.455009
Nov-12  1624.828634
Dec-12  1940.157338

[5 rows x 88 columns]

In [11]:
X = data_arranged["アメリカ合衆国"].T

In [12]:
X.head()

month,Aug-12,Sep-12,Oct-12,Nov-12,Dec-12,Jan-13,Feb-13,Mar-13,Apr-13,May-13,...,Jun-15,Jul-15,Aug-15,Sep-15,Oct-15,Nov-15,Dec-15,Jan-16,Feb-16,Mar-16
appliances,1518.933318,1712.109588,1450.148729,1216.104248,1626.732734,1403.850425,1271.269350,2388.208309,1473.668476,1388.997289,...,2708.889020,3492.904941,3062.158738,2839.478868,2949.502714,2975.014269,3429.135126,3005.455688,2138.847718,3248.578726
department,13930.813474,14916.617990,14685.681186,14211.719034,17629.728995,14541.854783,12841.629371,18876.669657,14666.601617,15810.268096,...,20960.332079,25551.869120,22291.164702,21131.809228,23530.904048,24350.916099,28060.681356,27778.098618,21360.658453,26680.083619
drug,407.016207,366.589386,365.766715,325.950680,422.804589,433.284645,303.422888,411.303160,327.257088,359.851814,...,562.385045,692.207320,542.081661,543.838678,583.108884,690.876878,721.360571,662.982885,565.952161,827.897647
fashion,4295.319982,4534.475782,4761.000282,5026.259686,5624.919208,4235.630566,4128.335887,7274.092554,4924.204770,5589.631231,...,6244.389670,7768.438215,6456.813476,7217.686914,8588.784419,9189.037113,9712.178626,8763.696179,6243.486864,9763.464919
flower,79.473712,108.665345,68.380554,55.352052,75.012266,60.615017,66.385162,82.628496,58.799307,185.969054,...,77.195370,66.652862,62.789742,62.486124,66.941397,53.028303,64.401224,48.143044,69.782474,55.521574

In [13]:
pca = PCA(n_components=2)
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [14]:
pca.components_[0]

array([ 0.10523995,  0.11254813,  0.11214934,  0.10861923,  0.13403996,
        0.1096706 ,  0.09698601,  0.14468979,  0.11106687,  0.12058404,
        0.12842128,  0.14348629,  0.12094737,  0.12555612,  0.13604949,
        0.14021201,  0.16452943,  0.13684619,  0.10720903,  0.14573249,
        0.12063039,  0.11756841,  0.11578439,  0.14610779,  0.12899724,
        0.13621591,  0.14699535,  0.16558404,  0.20101703,  0.18781539,
        0.14762308,  0.21242621,  0.16764434,  0.15907243,  0.15652556,
        0.1916577 ,  0.16686317,  0.15944463,  0.17865265,  0.18547012,
        0.2125529 ,  0.21054794,  0.15972355,  0.20324102])

In [15]:
for i in c_list:
    X = data_arranged[i].T
    pca = PCA(n_components = 2)
    pca.fit(X)
    print(i)
    print("PCA0")
    print(pca.components_[0])
    print("PCA1")
    print(pca.components_[1])

アメリカ合衆国
PCA0
[ 0.10523995  0.11254813  0.11214934  0.10861923  0.13403996  0.1096706
  0.09698601  0.14468979  0.11106687  0.12058404  0.12842128  0.14348629
  0.12094737  0.12555612  0.13604949  0.14021201  0.16452943  0.13684619
  0.10720903  0.14573249  0.12063039  0.11756841  0.11578439  0.14610779
  0.12899724  0.13621591  0.14699535  0.16558404  0.20101703  0.18781539
  0.14762308  0.21242621  0.16764434  0.15907243  0.15652556  0.1916577
  0.16686317  0.15944463  0.17865265  0.18547012  0.2125529   0.21054794
  0.15972355  0.20324102]
PCA1
[-0.09913302 -0.0926496  -0.08655625  0.04237147 -0.02151432 -0.13504901
 -0.04765171  0.16989718  0.09666355  0.07780147 -0.07473444 -0.17128631
 -0.09406101 -0.08358711  0.08581881  0.21591851  0.25128777 -0.10690063
 -0.09564773  0.18365298  0.01880577  0.05545049 -0.09337265 -0.11903101
 -0.13430697 -0.06630155  0.15053479  0.42582386  0.14198478 -0.12445443
 -0.19867489  0.12927755  0.10978359  0.13094654 -0.11410733 -0.18857273
 -0.20664411  0.00345467  0.13035446  0.16721253  0.06753603 -0.25898082
 -0.31778719  0.04730292]
オーストラリア
PCA0
[ 0.09372838  0.13010429  0.10781249  0.09724072  0.14678085  0.1886244
  0.12729715  0.11949958  0.21946399  0.13434575  0.13161356  0.13014279
  0.08667496  0.1341342   0.13607106  0.11170043  0.15523394  0.22920964
  0.1490166   0.12537129  0.21396901  0.15373277  0.1218892   0.16440048
  0.09508608  0.17278437  0.16232473  0.15595662  0.19314615  0.2312108
  0.1249629   0.12351098  0.20373282  0.16412778  0.13273366  0.15445746
  0.10950572  0.14962049  0.12526149  0.12696312  0.18277996  0.1869687
  0.11751038  0.11526644]
PCA1
[-0.16705096 -0.11265094 -0.10325538  0.03936532 -0.01485575 -0.17396582
 -0.16221436 -0.12266406 -0.30797767 -0.09286029 -0.0917256  -0.18589479
 -0.13383253 -0.04303004  0.02343104 -0.04478951  0.28733864  0.33433643
  0.25273833  0.0478879  -0.00154136  0.10614908 -0.09693741 -0.12743702
  0.02929942  0.02690595 -0.05390087 -0.06417677  0.28242523  0.3639156
  0.23304946  0.02112461 -0.18832236 -0.08628899 -0.03580739 -0.08768323
 -0.14747186  0.04490226 -0.20068431  0.06631723  0.0390891   0.05949509
  0.06388368  0.06430286]
中華人民共和国
PCA0
[ 0.06603197  0.04259037  0.17821396  0.1698009   0.22010265  0.13324996
  0.14852809  0.14356098  0.150255    0.13915752  0.14755708  0.10853217
  0.1231537   0.09730597  0.15887701  0.15599281  0.17868262  0.13817402
  0.14109636  0.1374609   0.14132088  0.12285911  0.11624634  0.1064259
  0.11349799  0.09143983  0.19291015  0.1753612   0.2337002   0.1333707
  0.21369953  0.1834151   0.17761422  0.14626027  0.14571869  0.13006953
  0.13092594  0.08980277  0.18542292  0.15587964  0.17817633  0.15132997
  0.15874931  0.17082625]
PCA1
[-0.0303347  -0.02219473 -0.10680187 -0.10505252 -0.12003514 -0.08440919
 -0.08301952 -0.07553098 -0.08572453 -0.08391197 -0.07638858 -0.05597811
 -0.05499659 -0.04479992 -0.07743043 -0.05718861 -0.08725668 -0.06017869
 -0.05547525 -0.03492075 -0.03934733 -0.05717545 -0.04874093 -0.0108789
 -0.02124403  0.00512392 -0.01529573  0.02032338 -0.03789631 -0.0102985
  0.08325914  0.111632    0.11038769  0.02480706  0.03405629  0.07767948
  0.0725038   0.00731963  0.04701881  0.0302559  -0.03932069 -0.02922536
 -0.01127446  0.91021701]
台湾
PCA0
[ 0.06976767  0.0660269   0.09470042  0.10727219  0.11218246  0.13648342
  0.14571227  0.13503848  0.12368925  0.11198735  0.12060336  0.11281054
  0.07831123  0.10001114  0.13214962  0.12984853  0.14837884  0.15987041
  0.13138219  0.14337258  0.09059814  0.11009431  0.11827199  0.13260571
  0.10149416  0.11838673  0.17119739  0.19857993  0.20983087  0.2098164
  0.19630412  0.18150336  0.18343611  0.16362878  0.19444252  0.2069322
  0.1631714   0.15967225  0.21037077  0.20536237  0.20597906  0.19492316
  0.16909887  0.12468093]
PCA1
[-0.12486034 -0.11344893 -0.18454868 -0.1672899  -0.19102556 -0.21768327
 -0.2084372  -0.12912177 -0.11485208 -0.06044953 -0.10921411 -0.13150135
 -0.09114555 -0.11783059 -0.18827173 -0.10736938  0.01323098 -0.10395699
 -0.10721862 -0.13618633 -0.08430979 -0.12726399 -0.13999139 -0.15528216
 -0.10966579 -0.13513095 -0.10392438 -0.02324849 -0.01338391 -0.07991664
  0.02530988  0.04066601  0.10585014  0.12693901  0.26807992  0.27969214
  0.30194406  0.17179264  0.2591833   0.23327124  0.19454827  0.10067828
  0.13883345  0.06924539]
大韓民国
PCA0
[ 0.07191432  0.08053528  0.10345377  0.1039364   0.11116002  0.09535975
  0.10002464  0.11922661  0.15228259  0.13226431  0.11909764  0.14395879
  0.12000671  0.12140289  0.14884078  0.16304739  0.16011409  0.17554719
  0.15308139  0.16768437  0.18515613  0.18357018  0.17991591  0.15749647
  0.15139102  0.1700503   0.19343692  0.186244    0.19456144  0.1715368
  0.16252383  0.16201199  0.18205551  0.18524917  0.14931255  0.15395881
  0.1490089   0.14847689  0.1710071   0.16726126  0.1544476   0.1408984
  0.13134202  0.12152623]
PCA1
[-0.13719159 -0.11740562 -0.11533402 -0.12155659 -0.10370327 -0.14111489
 -0.05718722 -0.10660974  0.75030192 -0.10653396 -0.12059242 -0.20950394
 -0.15252438 -0.07083327 -0.13289707  0.01750193  0.01676276 -0.1316603
 -0.09937433 -0.03843041 -0.04914046 -0.03642756 -0.05857432 -0.10043399
 -0.0537051   0.05153509  0.08299513  0.17025224  0.13642415 -0.00224216
 -0.02516931 -0.03902719  0.02066368 -0.01823045 -0.04954022 -0.06451053
  0.00548727  0.15086367  0.15083777  0.16826853  0.14893991  0.02622074
  0.0442838   0.023432  ]
香港
PCA0
[ 0.0725231   0.06920185  0.09162968  0.09782954  0.1124479   0.10843638
  0.13701162  0.13942508  0.13262186  0.1277617   0.12102949  0.16211959
  0.11846336  0.11800126  0.11527368  0.11486587  0.15208562  0.17827759
  0.14739196  0.13457826  0.1285074   0.09699816  0.10139628  0.1384471
  0.11390229  0.12004556  0.12307081  0.1617703   0.25641308  0.23378585
  0.19135287  0.18969447  0.21715426  0.18172669  0.17688775  0.20462905
  0.1692217   0.15185181  0.17284325  0.18171768  0.21636642  0.15984599
  0.1242868   0.11187994]
PCA1
[ 0.03771784  0.08545275  0.22210574  0.22483545  0.22700681  0.06986211
  0.16000457  0.21359865  0.08055107  0.01107844  0.09392126 -0.00641786
  0.06729227  0.04240053  0.11761908  0.1063142   0.06947098  0.1282824
  0.07726223  0.1392314   0.11844661  0.15965283  0.04147463 -0.1024867
  0.17519696  0.15710937  0.08137109 -0.08003124 -0.32920908 -0.4222159
 -0.25559009 -0.18357155  0.05001261 -0.10088202 -0.20596951 -0.16001461
 -0.09270637  0.07003645 -0.08789987  0.02645285 -0.06245373  0.17614238
  0.10681401  0.12408415]
タイ
PCA0
[ 0.27622275  0.15622894  0.12216669  0.08272109  0.14184278  0.1171058
  0.15616289  0.18241539  0.26193914  0.18131548  0.0903737   0.18805456
  0.13521011  0.14367639  0.12605494  0.10430476  0.13049593  0.15054183
  0.1477033   0.20446743  0.18150185  0.11601891  0.07238949  0.18742856
  0.13948495  0.14340307  0.12448553  0.11362799  0.16598359  0.16870407
  0.10597706  0.17668621  0.16581547  0.11094321  0.06790128  0.20018998
  0.15425823  0.14186947  0.12969496  0.10684248  0.14396351  0.12410442
  0.10534557  0.12027611]
PCA1
[ 0.94575566 -0.04792708 -0.04240256 -0.03665381 -0.0162017  -0.08732196
 -0.07457355 -0.1211491  -0.11808498 -0.09165128 -0.04883669 -0.04149441
 -0.05353705 -0.00271538 -0.01663679 -0.02476193 -0.04045492 -0.06046301
 -0.02398477 -0.05423162 -0.04639808 -0.03416117 -0.01772901  0.00674234
 -0.02929032  0.02320062 -0.01396499 -0.04161214 -0.02182819 -0.06194375
 -0.0474215  -0.06925872 -0.06134988 -0.04526945 -0.02303192 -0.04762742
 -0.06234132  0.00599472 -0.00745422 -0.02385078 -0.0292083  -0.01508117
 -0.0030387  -0.01867539]
シンガポール
PCA0
[ 0.09451448  0.10580267  0.05805083  0.08074688  0.12588286  0.11343316
  0.11196096  0.16434211  0.13648432  0.13074362  0.11306168  0.17788213
  0.18064871  0.15943131  0.0755697   0.07965504  0.13992924  0.18803247
  0.16818923  0.2110611   0.15997814  0.13407528  0.1419141   0.20176391
  0.17066751  0.20148005  0.109177    0.10978427  0.23229294  0.1808094
  0.19150364  0.22597437  0.16570175  0.1250705   0.14666674  0.18142423
  0.14264582  0.14161334  0.08125545  0.1178671   0.16628265  0.14550683
  0.13418333  0.16108519]
PCA1
[ 0.06033164  0.21390728  0.14110065  0.11961706  0.30993759  0.07268881
  0.13846594  0.58204604 -0.00813292  0.05138297  0.02477659  0.004376
 -0.07027795  0.30240504 -0.07737945 -0.03693255  0.04936245 -0.06916346
  0.03191319 -0.06011272 -0.04673701  0.0812294  -0.02045036 -0.09920313
  0.07624528 -0.18371744  0.10374766 -0.0408487  -0.29226912 -0.00594616
 -0.12059259 -0.10094889 -0.15923631 -0.07538523 -0.13662527 -0.13701429
 -0.11979456 -0.00789715  0.07608993  0.15670843 -0.0769469  -0.12929598
  0.08301411  0.11900331]