In [1]:
import numpy as np
import pandas as pd
import matplotlib
import json
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
%matplotlib inline

In [2]:
df_appliances = pd.read_csv('credit_card/appliances.csv',index_col="month")
df_department = pd.read_csv('credit_card/departmentstore.csv',index_col="month")
df_drug = pd.read_csv('credit_card/drug.csv',index_col="month")
df_fashion = pd.read_csv('credit_card/fashion.csv',index_col="month")
df_flower = pd.read_csv('credit_card/flowershop.csv',index_col="month")
df_food = pd.read_csv('credit_card/food.csv',index_col="month")
df_home = pd.read_csv('credit_card/home_goods.csv',index_col="month")
df_luxury = pd.read_csv('credit_card/luxury.csv',index_col="month")
df_reuse = pd.read_csv('credit_card/reuse.csv',index_col="month")
df_sport = pd.read_csv('credit_card/sport.csv',index_col="month")
df_super = pd.read_csv('credit_card/supermarket.csv',index_col="month")

In [10]:
df_sport.head()

,アメリカ合衆国,オーストラリア,中華人民共和国,大韓民国,台湾,香港,タイ,シンガポール,インドネシア,Unnamed: 10,Unnamed: 11
month,,,,,,,,,,,
Aug-12,21218807,10728782,39501147,33900247,20160647,28848571,27444347,10554253,14623765,NaN,NaN
Sep-12,17946591,11711259,16267053,42197471,15639300,34867288,20018624,12883824,8557724,NaN,NaN
Oct-12,21669476,15822100,10992829,63047535,24096447,29643647,28845029,14448159,9297835,NaN,NaN
Nov-12,19320253,15802329,20219376,69918500,23709618,37595200,33697912,32900271,7104800,NaN,NaN
Dec-12,25802962,33509959,29818888,52633688,28628371,46151788,36066324,28083247,10286235,NaN,NaN

In [6]:
all_data = pd.concat([df_appliances, df_department, df_drug, df_fashion, df_flower, df_food, df_home,\
          df_luxury, df_reuse, df_sport, df_super],axis=1,keys=["appliances","department","drug",\
                                                               "fashion","flower","food","home","luxury",\
                                                               "reuse","sport","super"])

In [7]:
all_data.head()

         appliances                                                         \
            アメリカ合衆国      オーストラリア            台湾       中華人民共和国            タイ
Apr-13   72288351.0   93535841.0  5.081579e+08  1.475932e+08  5.410499e+08
Apr-14   97632094.0  104082167.0  6.195850e+08  5.529303e+08  7.493335e+08
Apr-15  189135917.0  159252913.0  2.465563e+09  3.572131e+09  1.373094e+09
Aug-12   49171922.0   26340071.0  9.459077e+07  1.562409e+08  6.079844e+07
Aug-13   83608273.0   32580271.0  2.982265e+08  2.439600e+08  1.713659e+08

                                                 department               \
                 香港         大韓民国       シンガポール       アメリカ合衆国      オーストラリア
Apr-13  302909688.0  204922882.0  127568547.0  7.194457e+08  467939282.0
Apr-14  214786627.0  162687200.0  172615887.0  9.680976e+08  563597153.0
Apr-15  808368047.0  327928560.0  337482313.0  1.535688e+09  702634982.0
Aug-12   66252524.0   83092041.0   27492894.0  4.509776e+08  171900635.0
Aug-13  209949000.0  192955988.0   68997941.0  6.476567e+08  176092429.0

           ...           sport                    super              \
           ...     Unnamed: 10 Unnamed: 11      アメリカ合衆国     オーストラリア
Apr-13     ...             NaN         NaN   69486947.0  23497300.0
Apr-14     ...             NaN         NaN   96671161.0  32691180.0
Apr-15     ...             NaN         NaN  126284204.0  33037793.0
Aug-12     ...             NaN         NaN   49613253.0  13761335.0
Aug-13     ...             NaN         NaN   66231271.0  18017735.0

                                                                        \
            中華人民共和国         大韓民国           香港          台湾           タイ
Apr-13   60013335.0   74188788.0   44442112.0  34379018.0   63258853.0
Apr-14  152225860.0   90510133.0   57613227.0  64306760.0  135201773.0
Apr-15  322215767.0  108161280.0  112068713.0  86311893.0  152605840.0
Aug-12   45435318.0   47774118.0   29116824.0  26358347.0   18879418.0
Aug-13   67928265.0   62438935.0   46425271.0  34332141.0   30100382.0


            シンガポール
Apr-13  23459018.0
Apr-14  36076747.0
Apr-15  45510493.0
Aug-12  14779965.0
Aug-13  23534276.0

[5 rows x 100 columns]

In [6]:
usa_df = pd.DataFrame()
usa_df["appliance"] = df_appliances["アメリカ合衆国"]
usa_df["department"] = df_department["アメリカ合衆国"]
usa_df["drug"] = df_drug["アメリカ合衆国"]
usa_df["fashion"] = df_fashion["アメリカ合衆国"]
usa_df["flower"] = df_flower["アメリカ合衆国"]
usa_df["food"] = df_food["アメリカ合衆国"]
usa_df["home"] = df_home["アメリカ合衆国"]
usa_df["luxury"] = df_luxury["アメリカ合衆国"]
usa_df["reuse"] = df_reuse["アメリカ合衆国"]
usa_df["sport"] = df_sport["アメリカ合衆国"]
usa_df["super"] = df_super["アメリカ合衆国"]

In [7]:
usa_df.head()

,appliance,department,drug,fashion,flower,food,home,luxury,reuse,sport,super
month,,,,,,,,,,,
12-Aug,49171922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12-Sep,55425553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12-Oct,56629758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12-Nov,47490087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12-Dec,63525540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# 1月あたり旅行者
tourlist_dic={}
for year in range(2012,2017):
    with open("tourists_number/FY%d"%year,"r",encoding="utf-8") as f:
        dic = json.load(f)
    for countryData in dic["result"]["changes"]:
        country = countryData["countryName"]
        for i in range(len(countryData["data"])):
            num_qt = countryData["data"][i]
            if num_qt["year"] == year:
                if year == 2012:
                    if num_qt["quarter"] > 2:
                        if num_qt["quarter"] == 3:
                            iteration = 2
                        elif num_qt["quarter"] == 4:
                            iteration = 3
                        num_m = num_qt["value"]/3
                        for i in range(iteration):
                            try:
                                tourlist_dic[country].append(num_m)
                            except:
                                tourlist_dic[country] = [num_m]
                elif year == 2016:
                    if num_qt["quarter"] == 1:
                        num_m = num_qt["value"]/3
                        for i in range(3):
                            try:
                                tourlist_dic[country].append(num_m)
                            except:
                                tourlist_dic[country] = [num_m]
                else:
                    num_m = num_qt["value"]/3
                    for i in range(3):
                        try:
                            tourlist_dic[country].append(num_m)
                        except:
                            tourlist_dic[country] = [num_m]
for k,v in tourlist_dic.items():
    tourlist_dic[k] = np.array(v)

In [17]:
tourlist_num = pd.DataFrame()
c_list = ['アメリカ合衆国', 'オーストラリア', '中華人民共和国', '台湾', '大韓民国', '香港', 'タイ', 'シンガポール']
for i in c_list:
    tourlist_num[i] = tourlist_dic[i]

In [18]:
tourlist_num.head()

,アメリカ合衆国,オーストラリア,中華人民共和国,台湾,大韓民国,香港,タイ,シンガポール
0,32372.666667,11410.666667,108908.333333,60282.0,64795.333333,22080.666667,7572.666667,5277.666667
1,32372.666667,11410.666667,108908.333333,60282.0,64795.333333,22080.666667,7572.666667,5277.666667
2,39051.000000,14546.666667,25528.666667,47251.0,60948.333333,21171.000000,15862.000000,11886.333333
3,39051.000000,14546.666667,25528.666667,47251.0,60948.333333,21171.000000,15862.000000,11886.333333
4,39051.000000,14546.666667,25528.666667,47251.0,60948.333333,21171.000000,15862.000000,11886.333333

In [8]:
# 国籍をつぶす場合
c_list = ['アメリカ合衆国', 'オーストラリア', '中華人民共和国', '台湾', '大韓民国', '香港', 'タイ', 'シンガポール']
appliances_sum = np.zeros(length)
tourlist_sum = np.zeros(length)
for c in c_list:
    appliances_sum += df_appliances[c].values
    tourlist_sum += tourlist_dic[c]

In [9]:
appliances_sum

array([  5.63979535e+08,   5.54543129e+08,   6.51402306e+08,
         6.94986535e+08,   8.90895305e+08,   9.05163197e+08,
         1.13848683e+09,   1.52224248e+09,   1.99802632e+09,
         1.88549215e+09,   1.59372622e+09,   1.62010248e+09,
         1.30164385e+09,   1.38817901e+09,   1.47591447e+09,
         1.72749464e+09,   2.23829160e+09,   2.22276024e+09,
         1.95632987e+09,   2.31276091e+09,   2.67365282e+09,
         2.09661896e+09,   1.85742532e+09,   2.39739505e+09,
         2.08351000e+09,   2.44367221e+09,   3.69483550e+09,
         4.66420544e+09,   5.22091481e+09,   4.74479193e+09,
         6.45151465e+09,   6.95242782e+09,   9.23295603e+09,
         7.04673065e+09,   7.54826371e+09,   9.07512082e+09,
         8.39353595e+09,   5.69655496e+09,   7.56515770e+09,
         7.00856920e+09,   6.61320618e+09,   6.00522637e+09,
         5.71504977e+09,   1.71154261e+10])

In [14]:
X = df_appliances

In [25]:
X = X/tourlist_num

In [26]:
X.head()

,Unnamed: 0,アメリカ合衆国,オーストラリア,シンガポール,タイ,中華人民共和国,台湾,大韓民国,香港
0,NaN,13930.813474,15064.907251,59472.622434,87904.863280,8879.652800,17001.319117,14003.463912,35571.828417
1,NaN,14916.617990,20394.372108,64311.821196,96785.707369,5779.035008,16129.033824,15487.798741,32679.542466
2,NaN,14685.681186,16979.274473,34542.018004,76877.704073,24286.335557,22160.730694,19703.287610,43051.070285
3,NaN,14211.719034,14858.397731,49611.160184,52114.882171,23343.856645,25514.944022,19911.776641,45958.701715
4,NaN,17629.728995,22924.597754,74510.557223,84792.449061,29783.074100,26664.797147,21210.299336,53050.094752

In [20]:
X = X.set_index("month")

In [27]:
X = X.set_index("Unnamed: 0")

In [28]:
pca = PCA(n_components=2)
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [29]:
pca.components_[0]

array([ 0.06762001,  0.07708023,  0.76191088,  0.39984508,  0.01564599,
        0.1363264 ,  0.07957638,  0.4732228 ])